# App
ENV=development
PYTHONPATH=.


# Database
DATABASE_URL=sqlite:///data/processed/portfolio.db
POSTGRESQL_DB_USER="postgres"
POSTGRESQL_DB_PASSWORD="password234"
POSTGRESQL_DB_HOST="localhost"
POSTGRESQL_DB_PORT=5432
POSTGRESQL_DB_NAME="postgres"

MONGO_URI="mongodb://admin:password@localhost:27017/"


# Spotify Credential
SPOTIFY_ID=""
SPOTIFY_SECRET=""

# Youtube Credential
YOUTUBE_API_KEY=

# MusicBrainz Credential
MUSICBRAINZ_USER_AGENT={project-name}/0.1.0 (your-email@example.com)